@page
@model WebApp.Pages.UsersModel
@{
}

<script src="~/js/Pages/UserViewController.js"></script>

<h1>usuarios del sistema</h1>

<table id="tblUsers" class="bs-docs-section">
 <div class="row">
        <legend>Listado</legend>

        <div class="col-lg-12">
            <table id="tblUsers" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>fecha de nacimiento</th>
                        <th>estado</th>
                        <th>fecha creacion</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
